<div id="awards-view" class="container">
  <h2 class="text-center">{{ signUp.title }}</h2>
  <form name="formSignUp" class="form-vertical" novalidate>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" required ng-model="signUp.reg.firstName" class="form-control"  placeholder="Enter your first name"/>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" required ng-model="signUp.reg.lastName" class="form-control" placeholder="Enter your last name"/>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email_id" name="email" required ng-model="signUp.reg.email"  class="form-control" placeholder="Enter your email"/>
    </div>
    <div class="form-group">
      <label for="phone">Phone Number:</label>
      <input type="text" id="phone_id" name="phone" required ng-model="signUp.reg.phone" pattern="(\+)?(\d)+(\d|-|\s)*(\d)+" class="form-control" placeholder="Enter your phone number"/>
    </div>
    <div class="alert alert-danger" ng-if="formSignUp.phone.$error.pattern && formSignUp.phone.$touched">
      <strong>Phone should contain only digits, space, '-' and '+' characters</strong>
    </div>
    <div class="form-group">
      <label for="favMenu">Favorite Menu:</label>
      <input type="text" id="favMenu"  required ng-model="signUp.reg.favMenuItem" 
        ng-change="signUp.reg.favMenuItem=signUp.reg.favMenuItem.toUpperCase()" class="form-control" placeholder="Enter your favorite menu short name"/>
    </div>
    <div class="alert alert-danger" ng-if="signUp.error">
      <strong>{{signUp.error}}</strong>
    </div>
    <div class="alert alert-success" ng-if="signUp.saved" role="alert">
      <strong>Your information has been saved</strong>
    </div>
    <div class="form-group">
      <button ng-disabled="formSignUp.$invalid" ng-click="signUp.store()"  class="btn btn-primary">Submit</button>
    </div>
    
  </form>
  
</div>